<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
<div class="row row-cols-1 row-cols-md-2 g-4">

  <% @movies.each do |movie| %>
    <%= render movie %>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
