<div id="<%= dom_id video %>">
  <p>
    <%= video.title %>
  </p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/<%=video.link%>" title="" frameBorder="0"   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"  allowFullScreen></iframe></p>

  <p>
    <strong>Pic:</strong>
    <%= video.pic %>
  </p>


</div>
