<div id="<%= dom_id video %>">
  <p>
    <strong>Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Pic:</strong>
    <%= video.pic %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= video.link %>
  </p>

</div>
