<div class="card text-bg-dark">
  <img src="/uploads/<%=post.pic%>" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title"><%=post.title%></h5>
    <p class="card-text"><%=post.content%></p>
    <p class="card-text"><small>Last updated 3 mins ago</small></p>
  </div>
</div>
