<h1>Weeeeeelcome</h1>
<h2>In This Week Blogs</h2>
<%=render collection: Post.all.last(4), as: :post, partial: "welcome/hey"%>
<h2 style="float: left;clear: both;">New Music</h2>
<div style="width: 100%;height: 200px;float: left;">
<%=render collection: Musicrelease.all.last(4), as: :musicrelease, partial: "welcome/music"%>
</div>

