 <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/uploads/<%=event.pic%>" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1><%=event.title%></h1>
      <p><%=event.content%></p>
      <p><%=link_to "read more", event%></p>

    </div>
  </div>
</div> 
