<div class="card text-bg-dark" style="width:250px;float:left;">
  <img src="/uploads/<%=photo.pic%>" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title"><%=photo.title%></h5>
  </div>
</div>

