<p style="color: green"><%= notice %></p>

<% content_for :title, "Photos" %>

<h1>(year) Grand Photo Gallery</h1>

<div id="photos">
  <% @photos.each do |photo| %>
    <%= render photo %>
    <p>
      <%= link_to "Show this photo", photo %>
    </p>
  <% end %>
</div>

<%= link_to "New photo", new_photo_path %>
