<p style="color: green"><%= notice %></p>

<% content_for :title, "Photos" %>

<h1><%=params[:photoyear]%> Grand Photo Gallery</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">

  <% @photos.each do |photo| %>
    <%= render photo %>
  <% end %>
</div>
      <%= link_to "new photo", new_photo_path %>

