<% content_for :title, "New musicrelease" %>

<h1>New musicrelease</h1>

<%= render "form", musicrelease: @musicrelease %>

<br>

<div>
  <%= link_to "Back to musicreleases", musicreleases_path %>
</div>
